<html lang='zxx'>
  <head>
    <!-- Required meta tags -->
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>World Vision</title>
    <!-- plugin css for this page -->

    <link rel='stylesheet' href='../assets/vendors/mdi/css/materialdesignicons.min.css' />
    <link rel='stylesheet' href='../assets/vendors/aos/dist/aos.css/aos.css' />
    <link rel='stylesheet' href='../assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css' />
    <script src='../assets/ckeditor/ckeditor.js'></script>
    <link rel='stylesheet' href='../assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css' />
    <!-- End plugin css for this page -->
    <link rel='shortcut icon' href='../assets/images/favicon.png' />
    <!-- inject:css -->
    <link rel='stylesheet' href='../assets/css/style.css' />
    <link rel='stylesheet' href='../assets/css/mycss/category.css' />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <!-- endinject -->
  </head>
    <body>
        {{body}}
    </body>
</html>