 <style>
    @media print{
   .noprint{
       display:none;
   }
}
</style>
<div style="padding-left: 3%;" class="noprint">
    <a href="javascript:window.print();void(0)" >
            <div class="fs-2 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>
            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
            </svg>
            Print
        </div>
    </a>
</div>



{{#each this.news}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="news-post-wrapper">
            <div class="news-post-wrapper-sm ">
            <h1 class="text-center">
                {{TieuDe}}
            </h1>
            <p
                class="fs-15 d-flex justify-content-center align-items-center m-0"
            >
                {{ButDanh}} | {{format_date NgayXuatBan}}
            </p>
            </div>
            {{{NoiDung}}}
          
        </div>
    </div>
  </div>
</div>
{{/each}}