
{{#sections 'js'}}
<script src="../../assets/js/register.js"></script>
{{/sections}}

<div class="input-group-prepend">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" 
    aria-haspopup="true" aria-expanded="false">Manage</button>
    <div class="dropdown-menu">
      
      <h6 class="collapse-header" style="margin-left: 10px;">Update:</h6>
      <a class="dropdown-item" href="update-editor">Editor</a>
      <a class="dropdown-item" href="update-writer">Writer</a>
      <a class="dropdown-item" href="update-subscriber">Subscriber</a>
      

      <h6 class="collapse-header" style="margin-left: 10px;">Add:</h6>
        <a class="dropdown-item "  href="add-editor" >Editor</a>
        <a class="dropdown-item"  href="add-writer">Writer</a>
        <a class="dropdown-item active"  href="add-subscriber">Subscriber</a>
 

      <div role="separator" class="dropdown-divider"></div>
      
    </div>
</div>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create a Subscriber</h1>
                        </div>
                        <form class="user" action='/account/register' method='post'>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="inputUser"
                                        placeholder="Username" name="username" required>
                                       <span class="user-alert" style="color: red;"></span>
                                </div>
                                 
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="FullName" name="name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="inputMail"
                                    placeholder="Email Address" name="email" required>
                                    <span class="email-alert" style="color: red;"> </span>
                            </div>
                            
                            
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        id="inputPassword1" placeholder="Password" name="raw_password" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        id="inputPassword2" placeholder="Repeat Password" required>
                                       <span class="password-alert" style="color: red;"></span>
                                </div>
                                 
                            </div>
                            <div class="form-group" hidden>
                                <input type="text" id="exampleinputhidden" value="Subscriber" name="type">
                            </div>
                            <button class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>